
.mt-3 {
  margin-top: 1rem; /* Adjust the value as needed */
}

/* Width and color of the scrollbar track */
::-webkit-scrollbar {
  width: 12px;
  background-color: #c5c5c5;
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #444444;
  /* border-radius: 6px; */
}