/* Width and color of the scrollbar track */
::-webkit-scrollbar {
  width: 12px;
  background-color: #2B3035;
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #EF8354;
}

.nav-links {
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

#link {
  color: #8a8a8a;
}

#link:hover {
  color: #EF8354;
}

.textStyle-responsive {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  color: #ffe4d8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Bowlby One ' sans-serif;
  font-weight: 900;
  text-align: center;
  width: 65%;
  line-height: 1;
}

.introsection {
  height: 350px;
  background-color: #EF8354;
  padding: 150px;
  display: flex;

}

.textposition {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstcol {
  font-size: 36px;
  font-family: 'Bowlby One ' sans-serif;
  color: #2B3035;
  font-weight: 900;
  text-align: start;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;

}

.secondcol {
  font-family: 'Bowlby One ' sans-serif;
  color: #2B3035;
  font-size: 18px;
  font-weight: bold;
}

.callaction {
  height: auto;
  padding: 70px;
}


.metallist {
  display: flex;
  gap: 20px;
  justify-content: end;
  flex-wrap: wrap;

}


.callactionbtn {
  margin-top: 30px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

/* KeyServices.css */
.imageeffect{
  filter: grayscale(100%)
}

.imageeffect:hover {
  filter: grayscale(0%);
}

.title-header{
  font-family: 'Bowlby One ' sans-serif;
  color: #2B3035;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.726);

}

.orange-bg{
  background-color: #EF8354;
}

.form-label{
  font-family: 'Bowlby One ' sans-serif;
  color: #2B3035;
  font-size: 18px;
  font-weight: bold;
}

.faq-title{
  font-family: 'Bowlby One ' sans-serif;
  color: #2B3035;
  font-weight: 800;
}
.faq-text{
  font-family: 'Bowlby One ' sans-serif;
  color: #2B3035;
  font-weight: bold;
}

.footer-bg{
  color: #8a8a8a;
 background-color:  #2B3035;
 padding: 10px;
}

/* KeyServices.css */

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .textStyle-responsive {
    font-size: 46px;
  }

  .metallist {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .imageeffect{
    filter: grayscale(0%);
  }
  .textStyle-responsive {
  width: 90%;
  }
}

