/* Width and color of the scrollbar track */
::-webkit-scrollbar {
  width: 12px;
  background-color: #2B3035;
}
/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #EF8354;
}

.nav-links{
justify-content: center;
text-align: center;
font-size: 18px;
font-weight: 600;
}

#link{
  color: #8a8a8a;
}

#link:hover{
  color: #EF8354;
}

.textStyle-responsive{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Bowlby One 'sans-serif;
    font-weight:900 ;
    text-align: center;
    width: 70%;
    
}

.introsection{
  height: 350px;
  background-color: #EF8354;
  padding: 150px;
  display: flex;

}

.textposition{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstcol{
  font-size: 36px;
  font-family: 'Bowlby One 'sans-serif;
  color: #2D3142;
  font-weight: 900;
  text-align: start;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.secondcol{
  font-family: 'Bowlby One 'sans-serif;
  color: #2D3142;
  font-size: 18px;
  font-weight: bold;
}

.callaction{
  height: 350px;
  padding: 70px;
}

.metallist{
  display: flex;
  gap: 40px;
justify-content: center;}

.accordion{
  margin-top: 150px;
  margin-bottom: 50px;
}

.callactionbtn{
 
  margin-top: 30px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 767px) {
  .textStyle-responsive {
    font-size: 46px;
  }
  .metallist {
    flex-wrap: wrap; /* Allow items to wrap to the next line */
  }
}
